<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
	  <add name="HotelDBConnectionString" connectionString="Data Source=.;Initial Catalog=HotelDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="DataAccessLayer.Properties.Settings.HotelDBConnectionString" connectionString="Data Source=.;Initial Catalog=HotelDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HotelDBEntities" connectionString="metadata=res://*/AddMenu.csdl|res://*/AddMenu.ssdl|res://*/AddMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HotelDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelDBEntities1" connectionString="metadata=res://*/AddMenu.csdl|res://*/AddMenu.ssdl|res://*/AddMenu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HotelDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RoomStatusDBContext" connectionString="metadata=res://*/RoomBookingStatus.csdl|res://*/RoomBookingStatus.ssdl|res://*/RoomBookingStatus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HotelDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelDBEntities2" connectionString="metadata=res://*/UserPaymentDetails.csdl|res://*/UserPaymentDetails.ssdl|res://*/UserPaymentDetails.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HotelDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HotelDBEntities3" connectionString="metadata=res://*/PaymentDetails.csdl|res://*/PaymentDetails.ssdl|res://*/PaymentDetails.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HotelDB;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>